{% extends 'blog/base.html' %} {% block content %}
<div class="jumbotron">
  <h2>Ma boi wanna LOOOOOOGIN !</h2>
  <h3>
    (If ya are no superuser then fuck off)
  </h3>
  {% if form.errors %}
  <p>You screwed something up REALLY bad, check ya mess !</p>
  {% endif %}
  <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type = "submit" class="btn btn-primary" value = "LOG!"></input>
      <input type="hidden" name = "next" value = "{{next}}">
  </form>
</div>
{% endblock %}
